<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <title>Login - upfi</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">upfi</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="card" style="width: 100%; margin-top: 4rem">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form enctype="multipart/form-data" action="/login" method="post">
            <div class="form-group">
              <label for="usernameInput">Username</label>
              <input
                name="username"
                type="text"
                class="form-control"
                id="usernameInput"
                aria-describedby="usernameHelp"
              />
            </div>
            <div class="form-group">
              <label for="filenameInput">Password</label>
              <input
                name="password"
                type="password"
                class="form-control"
                id="passwordInput"
                aria-describedby="passwordHelp"
              />
            </div>
            <div>
              <button type="submit" class="btn btn-secondary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
