<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>File {{.Filename}} - upfi</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">upfi</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/upload">upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/files">my files</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings">settings</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-3">
      <h2>File {{.Filename}}</h2>
      <p class="text-muted">{{.Description}}</p>
      <div style="display:flex;">
        <form method="post" action="/download?file={{ .UUID }}">
          <button type="submit" class="size-sm btn btn-info">Download</button>
        </form>
        <form
          method="post"
          action="/delete?file={{ .UUID }}"
          style="margin-left:0.5rem;"
        >
          <button type="submit" class="size-sm btn btn-danger">Delete</button>
        </form>
      </div>

      <hr style="margin-top:2rem;margin-bottom:2rem;" />
      <h4>File information</h4>
      <table style="width:100%">
        <tr>
          <th>Filename</th>
          <th>Size</th>
          <th>Extension</th>
          <th>Created</th>
          <th>Updated</th>
        </tr>
        <tr>
          <td>{{ .Filename }}</td>
          <td>{{ .Size }}</td>
          <td>{{ .Extension }}</td>
          <td>{{ .CreatedAt }}</td>
          <td>{{ .UpdatedAt }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
