{{ define "content" }}
<div class="mx-auto container mt-8">
  <h2 class="font-bold text-4xl text-gray-900 mb-8">{{ .File.Filename }}</h2>
  <p class="text-muted" id="form-uuid">{{ .File.UUID }}</p>
  <p class="text-muted">{{.File.Description}}</p>
  <div style="display: flex">
    <form
      enctype="multipart/form-data"
      method="post"
      action="/download/{{ .UUID }}"
    >
      <input type="password" name="master" />
      <button type="submit" class="size-sm btn btn-info">Download</button>
    </form>
    <button
      style="margin-left: 0.5rem"
      onclick="updateFileData()"
      class="size-sm btn btn-info"
    >
      Update
    </button>
    <form
      method="post"
      action="/delete?file={{ .UUID }}"
      style="margin-left: 0.5rem"
    >
      <button type="submit" class="size-sm btn btn-danger">Delete</button>
    </form>
  </div>
  <div id="update-form"></div>

  <hr style="margin-top: 2rem; margin-bottom: 2rem" />
  <h4>File information</h4>
  <table style="width: 100%">
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Extension</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
    <tr>
      <td>{{ .File.Filename }}</td>
      <td>{{ .File.SizeHuman }}</td>
      <td>{{ .File.Extension }}</td>
      <td>{{ .File.CreatedAt }}</td>
      <td>{{ .File.UpdatedAt }}</td>
    </tr>
  </table>
</div>
{{ end }}
