<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>File {{.Filename}} - upfi</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">upfi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">Upload</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/files">My files</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/settings">Settings</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="container mt-3">
      <h2>Editing {{ .Filename }}</h2>
      <form
        method="post"
        action="http://localhost:8080/update?file={{ .UUID }}"
      >
        <div class="form-group">
          <label for="filenameInput">Filename</label>
          <input
            type="filename"
            class="form-control"
            id="filenameInput"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">File description</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            name="description"
            rows="3"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-info">Upload</button>
      </form>
    </div>
  </body>
</html>
